/* testing purpose - text list of plots */
.showListofPlots {
  display: inline-flex;
}
.byDatePlotColumn {
  text-align: center;
}

/* setting the size of table by screen size */
.byDatePlotsTable {
  text-align: center;
}

.date-fit-par-table {
  width: 100%;
  font-size: 66%;
  margin: 0;
}

.date-fit-par-table th,
.date-fit-par-table td {
  padding: 2px;
}

.loading-icon-small {
  width: 80px;
  z-index: 1003; 
  position: absolute; 
  margin-top: -225px; 
  transform: translateX(-50%);
}

.loading-overlay-small {
  z-index: 1002; 
  position: relative; 
  width: 100%;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.7)
}
/* XS  and S (767px and down) */
@media only screen and (max-width: 767px) {
  .byDatePlotsTable {
    table-layout: auto; 
  }
 
 
  .table-container {
    width: 100vw;
    overflow-x: auto;
    border: 2px solid rgb(219, 219, 219);
    border-right: 1px solid transparent;   
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(112, 112, 112, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(228, 226, 226, 0.5);
  }
} 

/* M (768px and up) */
@media only screen and (min-width: 768px) {
   /* each cell scroll */
  .byDatePlotsTable {
    table-layout: fixed;
  }
 
  table tr td {
      overflow-x: auto;
  }

  .table-container {
      width: 100%;
  }
} 

/* L (1024px and up) */
@media only screen and (min-width: 1024px) {
  /* each cell scroll */
  .byDatePlotsTable {
    table-layout: fixed;
  }
 
  table tr td {
      overflow-x: auto;
  }

  .table-container {
      width: 100%;
  }
} 

/* XL (1440px and up) */
@media only screen and (min-width: 1440px) {
  .byDatePlotsTable {
    table-layout: fixed;
  }
  table tr td {
      overflow-x: auto;
  }

}

/* XXL (1600px and up) */
@media only screen and (min-width: 1600px) {
  .byDatePlotsTable {
  }
}

/* XXXL (2200px and up) */
@media only screen and (min-width: 2200px) {
  .byDatePlotsTable {
  }
}