# Use: Local development.
# docker-compose -f docker-compose-dev.yml up --build
version: '2.4'
x-net: &net
  networks:
      - main
services:
  iblapi:
    extends:
      file: ./docker-compose-build.yml
      service: iblapi
    image: iblapi:v0.0.0
    ports:
    - "5000:5000" # iblapi
    #entrypoint: ["/src/iblapi/run-ibl-api.dev.sh", "development"]
    <<: *net
  ibl-navigator:
    extends:
      file: ./docker-compose-build.yml
      service: ibl-navigator
    build: 
      context: ./ibl-frontend
      dockerfile: dev.dockerfile
    image: ibl-navigator:v0.0.0
    environment:
      # - DEV_NODE_BACKEND=http://localhost:3333/api
      - DEV_NODE_BACKEND=https://fakeservices.datajoint.io/api
    volumes:
      - ./ibl-frontend/frontend-content/src:/app/src
      - ./ibl-frontend/frontend-content/angular.json:/app/angular.json
    <<: *net
  ibl-node-server:
    extends:
      file: ./docker-compose-build.yml
      service: ibl-node-server
    image: ibl-node-server:v0.0.0
    # command: nodemon /src/server.js
    command: npm test
    ports:
      - "9222:9222"
    volumes:
      - ./node_server/app.js:/src/app.js
    <<: *net
  nginx:
    extends:
      file: ./docker-compose-build.yml
      service: nginx
    ports:
    - "3333:3333" # node-server    
    - "9000:9000" # frontend
    <<: *net
networks:
  main:
    ipam:
      driver: default
      config:
        - subnet: 10.28.0.0/16
