# docker-compose up -d --build
version: '2.4'
services:     
  iblapi:
    # build: ./backend
    image: registry.vathes.com/ibl-navigator/iblapi:v0.0-dev1 # add -dev ending to testdev tag
    environment:
    - DJ_USER=maho
    - DJ_HOST=datajoint.internationalbrainlab.org
    env_file: ./.env
    # volumes:
    #   - ./backend:/src/iblapi
    # ports:
    #   - "5000:5000"
    entrypoint: ["/src/iblapi/run-ibl-api.prod.sh"]
    # entrypoint: ["/src/iblapi/run-ibl-api.dev.sh", "development"]
    networks:
      - main
  ibl-navigator:
    # build: ./ibl-frontend
    image: registry.vathes.com/ibl-navigator/frontend:v0.0-dev3 # add -dev ending to testdev tag
    environment:
    # - PROD_NODE_API=https://testdev.datajoint.io/api # for testdev deploy
    - PROD_NODE_BACKEND=https://testdev.datajoint.io/api # for testdev deploy
    # - PROD_NODE_API=https://djcompute.internationalbrainlab.org/api # for client deploy
    # - PROD_NODE_BACKEND=https://djcompute.internationalbrainlab.org # for client deploy
    # - PROD_NODE_BACKEND=http://localhost:3333
    # - DEV_NODE_API=http://localhost:9000/api
    # - DEV_NODE_BACKEND=http://localhost:9000
    # ports:
    #   - "8080:8080"
    networks:
      - main
  ibl-node-server:
    # build: ./node_server
    image: registry.vathes.com/ibl-navigator/node-server:v0.0-dev3 # add -dev ending to testdev tag
    environment:
    - NODE_ENV=development
    - DEMO_USERNAME=ibluser
    - PY_BACKEND=http://iblapi:5000
    env_file: .env
    # volumes:
    #   - ./node_server:/src
    # ports:
    #   - "3333:3333"
    networks:
      - main
  # nginx-letsencrypt:
  #   build: ./nginx-letsencrypt
  #   image: registry.vathes.com/ibl-navigator/nginx:v0.0-dev3
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - EMAIL=admin@vathes.com
  #     - URL=datajoint.io # for testdev deploy
  #     - SUBDOMAINS=testdev # for testdev deploy
  #     # - URL=internationalbrainlab.org # for client deploy
  #     # - SUBDOMAINS=djcompute # for client deploy
  #     - TZ=Europe/London
  #     - ONLY_SUBDOMAINS=true
  #     - STAGING=true # UNcomment for testdev
  #     - NODE_SERVER=http://ibl-node-server:3333
  #     - FRONTEND_SERVER=http://ibl-navigator:8080
  #   ports:
  #     - "80:80"
  #     - "443:443"
  #   # cap_add:
  #   #   - NET_ADMIN
  #   # volumes:
  #   #   - ./nginx-letsencrypt/app.conf:/config/nginx/site-confs/app.conf
  #   networks:
  #     - main   
  #   depends_on:
  #     ibl-node-server:
  #       condition: service_healthy
  #     iblapi:
  #       condition: service_healthy
  #     ibl-navigator:
  #       condition: service_healthy
  letsencrypt:
    image: linuxserver/letsencrypt:latest
    environment:
      - PUID=1000
      - PGID=1000
      - EMAIL=admin@vathes.com
      - URL=datajoint.io # for testdev deploy
      - SUBDOMAINS=testdev # for testdev deploy
      # - URL=internationalbrainlab.org # for client deploy
      # - SUBDOMAINS=djcompute # for client deploy
      - TZ=Europe/London
      - ONLY_SUBDOMAINS=true
      - STAGING=true # UNcomment for testdev
      - VALIDATION=http
    healthcheck:
      # test: ["CMD-SHELL","if","[", "$$(expr", "$$(date", "+%s)","-","$$(stat","-c","%Y","$$(ls","-la","/config/etc/letsencrypt/live/*.*/fullchain.pem","|","awk","'{print","sprintf(\"%s/%s\",\"/config/etc/letsencrypt/live/*.*\",$$11)}')))","-lt","\"7776000\"","];","then","exit","0;else","exit","1;fi"]
      # test: if [ $$(expr $(date +%s) - $$(stat -c %Y $(ls -la /config/etc/letsencrypt/live/*.*/fullchain.pem | awk '{print sprintf("%s/%s", "/config/etc/letsencrypt/live/*.*", $11)}'))) -lt "7776000" ]; then exit 0;else exit 1;fi
      test: /healthcheck.sh
      timeout: 5s
      retries: 300
      interval: 1s
    # ports:
    #   - "80:80"
    #   - "443:443"
    # cap_add:
    #   - NET_ADMIN
    volumes:
      - ./letsencrypt-keys:/config/etc/letsencrypt
      - ./letsencrypt/healthcheck.sh:/healthcheck.sh
    networks:
      - main
    # depends_on:
    #   ibl-node-server:
    #     condition: service_healthy
    #   iblapi:
    #     condition: service_healthy
    #   ibl-navigator:
    #     condition: service_healthy
  nginx:
    # build: ./nginx
    image: registry.vathes.com/ibl-navigator/nginx-k8s:v0.0-dev9
    environment:
      - URL=datajoint.io # for testdev deploy
      - SUBDOMAINS=testdev # for testdev deploy
      - NODE_SERVER=http://ibl-node-server:3333
      - FRONTEND_SERVER=http://ibl-navigator:8080
      - LETSENCRYPT_SERVER=http://letsencrypt:80
    ports:
      - "80:80"
      - "443:443"
    # cap_add:
    #   - NET_ADMIN
    volumes:
      - ./letsencrypt-keys:/etc/letsencrypt:ro
    networks:
      - main   
    # depends_on:
    #   ibl-node-server:
    #     condition: service_healthy
    #   iblapi:
    #     condition: service_healthy
    #   ibl-navigator:
    #     condition: service_healthy
networks:
    main:
        ipam:
            driver: default
            config:
                - subnet: 10.28.0.0/16
