<h4>Mouse <{{ mouse?.subject_nickname }}> Info :</h4>
<span *ngFor="let item of mouse | keyvalue">
<b>{{ item.key }}</b>: {{ item.value }} &nbsp;
</span>
<hr>
<h5>Mouse Plots</h5>
<div *ngIf="mouse">
  <app-water-weight-plot [mouseInfo]="mouse"></app-water-weight-plot>
</div>
<div>
  <button routerLink="/sessions" [queryParams]="mouse" mat-raised-button (click)="getSessions(mouse)">See Sessions</button>
</div>
<!-- <app-session-list *ngIf="mouse" [preRestriction]="mouse"></app-session-list> -->

