.mouse-info-container {
    padding-top: 20px;
    margin-left: 1%;
}

.mouse-title button {
    margin-left: 1%;
}

h5 {
    display: inline-block;
    font-weight: 300;
}

.mouse-info-table {
    font-size: 85%;
    margin-left: 1%;
    margin-top: 1%;
}

.mouse-info-table table {
    margin-left: 1%;
}

.mouse-plots-container {
    margin-left: 1%;
    /* background:linear-gradient(to right, rgb(195, 53, 157), rgb(143, 83, 173), rgb(93, 111, 190), rgb(3,162,218)); */

}

.short-plots-container {
    float: left;
    width: 50%;
    overflow: scroll;
}

.single-plot {
    /* border-bottom: 3px solid rgba(3, 161, 218, 0.15); */
    /* border-right: 3px solid rgba(3, 161, 218, 0.15); */
    background:linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.1), rgba(93, 111, 190, 0.08), rgba(3, 161, 218, 0.1), rgba(255, 255, 255, 0.75));

    /* background:linear-gradient(to right, rgba(195, 53, 157, 0.15), rgba(143, 83, 173, 0.15), rgba(93, 111, 190, 0.15), rgba(3, 161, 218, 0.15)); */
}

.single-plot-pink {
    /* border-bottom: 3px solid rgba(195, 53, 157, 0.15); */
    /* border-right: 3px solid rgba(195, 53, 157, 0.15); */
    background:linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.1), rgba(195, 53, 157, 0.04), rgba(143, 83, 173, 0.1), rgba(3, 161, 218, 0.1), rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.75));

    /* background:linear-gradient(to left bottom, rgba(195, 53, 157, 0.15), rgba(143, 83, 173, 0.15), rgba(93, 111, 190, 0.15), rgba(3, 161, 218, 0.15)); */
}

.v-long-plot-container {
    float: left;
    width: 50%;
}

.by-date-plots-container {
    /* float: left; */
    width: 100%;
    margin-left: 0.5%;
}

.sessionPCP-container {
    /* float: bottom; */
}

.fetch-sessions {
    padding-top: 1.5%;
    width: 100%;
}
.fetch-sessions button {
    padding: 15px 40px;
    margin-bottom: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.fetch-sessions button:hover, 
.mouse-title button:hover {
    background-color: rgb(241, 240, 240);
}

/* something small (under 768px) */
@media only screen and (max-width: 768px) {
  .v-long-plot-container {
    float: top;
    width: 100%;
  }
  .short-plots-container {
    float: left;
    width: 100%;
  }
  .by-date-plots-container {
    margin-left: 0;
  }
  .mouse-plots-container {
    margin-left: 0;
}
}