.mouse-info-container {
    padding-top: 20px;
}

h5 {
    font-weight: 300;
}

.mouse-info-table {
    font-size: 85%;
    margin-left: 1%;
}

.mouse-info-table table {
    margin-left: 1%;
}

.short-plots-container {
    float: left;
    width: 50%;
    overflow: scroll;
}

.v-long-plot-container {
    float: left;
    width: 50%;
}

.by-date-plots-container {
    float: left;
    width: 100%;
}

.fetch-sessions {
    width: 100%;
}
.fetch-sessions button {
    padding: 15px 40px;
    margin-bottom: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.fetch-sessions button:hover {
    background-color: rgb(241, 240, 240);
}