<div class="col-10 offset-1">
<h5>Mouse <{{ mouse?.subject_nickname }}> Info</h5>
<div class="row">
  <table class="table col-5 table-striped table-bordered table-sm">
    <tr>
      <th>Mouse Nickname</th>
      <td>{{ mouse?.subject_nickname }}</td>
    </tr>
    <tr>
      <th>Mouse UUID</th>
      <td>{{ mouse?.subject_uuid }}</td>
    </tr>
    <tr>
      <th>Mouse DOB</th>
      <td>{{ mouse?.subject_birth_date }}</td>
    </tr>
    <tr>
      <th>Lab</th>
      <td>{{ mouse?.lab_name }}</td>
    </tr>
    <tr>
      <th>Gender</th>
      <td>{{ mouse?.sex }}</td>
    </tr>
    <tr>
      <th>Mouse Line</th>
      <td>{{ mouse?.subject_line }}</td>
    </tr>
    <tr>
      <th>User</th>
      <td>{{ mouse?.responsible_user }}</td>
    </tr>
  </table>
  <table class="table col-3 table-striped table-bordered table-sm">
    <tr>
      <th>Ear Mark</th>
      <td>{{ mouse?.ear_mark }}</td>
    </tr>
    <tr>
      <th>Source</th>
      <td>{{ mouse?.subject_source }}</td>
    </tr>
    <tr>
      <th>Protocol Number</th>
      <td>{{ mouse?.protocol_number }}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{ mouse?.subject_description }}</td>
    </tr>
  </table>
</div>
<hr>
<h5>Mouse Plots</h5>
<div *ngIf="mouse">
    <app-water-weight-plot [mouseInfo]="mouse"></app-water-weight-plot>
  <div class="short-plots-container">
    <app-trial-counts-session-duration [mouseInfo]="mouse"></app-trial-counts-session-duration>
    <app-performance-reaction-time-plot [mouseInfo]="mouse"></app-performance-reaction-time-plot>
    <app-contrast-heatmap-plot [mouseInfo]="mouse"></app-contrast-heatmap-plot>
  </div>
  <div class="v-long-plot-container">
    <app-fit-par-plots [mouseInfo]="mouse"></app-fit-par-plots>
  </div>
</div>
<i>&‌gamma;</i>
<span>&gamma;</span>
<p>&mu;</p> 
<div>
  <button routerLink="/sessions" [queryParams]="mouse" mat-raised-button (click)="getSessions(mouse)">See Sessions</button>
</div>
<!-- <app-session-list *ngIf="mouse" [preRestriction]="mouse"></app-session-list> -->

</div>  