<div class="rasterPlotSelectors col-6">
  <div class="order-buttons col-6">
    <label for="event">Event</label>
    <select name="event" (change)="order_by_event($event.target.value)">
      <option value="feedback" selected>Feedback</option>
      <option value="response">Response</option>
      <option value="stim on">Stim On</option>
    </select>
  </div>
  <div class="order-buttons col-6">
    <label for="sort_by">Sort By</label>
    <select name="sort_by" (change)="order_by_sorting($event.target.value)">
      <option value="trial_id" selected>Trial ID</option>
      <option value="feedback - response" [disabled]="eventType==='stim on'">Feedback - Response</option>
      <option value="feedback - stim on" [disabled]="eventType==='response'">Feedback - Stim On</option>
      <option value="response - stim on" [disabled]="eventType==='feedback'">Response - Stim On</option>
    </select>
  </div>
</div>
<div class="rasterPlot-container">
  <div class="trial-condition-raster">
    <label>All Trials</label>
    <div #raster_AT></div>
  </div>
  <div class="trial-condition-raster">
    <label>Correct Trials</label>
    <div #raster_CT></div>
  </div>
  <div class="trial-condition-raster">
    <label>Right Trials</label>
    <div #raster_RT></div>
  </div>
  <div class="trial-condition-raster">
    <label>Left Trials</label>
    <div #raster_LT></div>
  </div>
</div>