
.navigator-container {
    width: 100%;
    padding: 0;
}

.row {
    margin: 0;
}

.nav-item a {
    color: #03a2da;
}
.nav-item a:hover,
.active a {
    background-color: #03a2da;
    color: #fff;
}

.title-container img {
    height: 100px;
}

.navigator-head {
    border-left: 1.5px solid rgb(151, 151, 151); 
    height: 71px; 
    margin-top:14px;
}
.navigator-header-title {
    padding: 17px 14px;
    color: #413f40;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}
.menu-button {
    padding-right: 10px;
}

.menu-button button,
.menu-button button:active {
    border: 2px solid #03a2da;
    background-color: transparent;
    color: #03a2da;
}
.menu-button button:hover {
    border: 2px solid #03a2da;
    background-color: #03a2da;
    color: white;
}
.menu-container {  
    width: 100%; 
}

.navBarLogin {
    padding: 0;
    margin-right: 10px;
}

.footer {
    position: relative;
    bottom: 0;
    float: bottom;
    /* margin-bottom: 0; */
    margin-left: 50%;
    transform: translateX(-14%);
}
.footer p,
.footer * {
    font-size: 0.8rem;
    color: rgb(32, 31, 34);
}

.footer p a:hover {
    color: #03a2da;
    text-decoration: none;
}
@media (min-width: 1600px) {
    .container {
        max-width: 1520px;
    }
}

@media (min-width: 2200px) {
    .container {
        max-width: 1870px;
    }
}

@media (max-width: 768px) {
    .navigator-container {
        padding-left: 2px;
    }
    .title-container img {
        height: 80px;
    }

    .navigator-head {
        height: 56px; 
        margin-top:12px;
    }
    .navigator-header-title {
        padding: 15px 14px;
        font-size: 120%;
    }
}

@media (max-width: 430px) {
    .row:not(.title-container) {
        width: 100%;
        margin: 0;
    }
    .navigator-container {
        padding: 0;
    }

    .title-container img {
        height: 70px;
    }

    .navigator-head {
        height: 51px; 
        margin-top:9.5px;
    }
    .navigator-header-title {
        padding: 16px 14px;
        font-size: 110%;
    }
    .nav-tabs {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .menu-container {  
        width: 100vw; 
        padding: 0;
        overflow-x: auto;
    }

    .nav-tabs .nav-link {
        border-radius: 0;
    }

    .content-container {
        overflow-x: auto;
        width: 100%;
    }
}