<div class="col-12 navigator-container">

  <div *ngIf="userIsAuthenticated" class="float-right col-3 navBarLogin">
    <app-login></app-login>
  </div>
  <div class="row title-container">
    <a class="logolink" href="/">
    <img src="assets/images/IBLlogo.png">
    <div class="navigator-head">
      <h3 class="navigator-header-title">Navigator</h3>
    </div>
    </a>
  </div>
  
  <div class="row">
    <div class="menu-button ml-auto">
      <button *ngIf="smallScreen" class="btn" (click)="menuCollapsed = !menuCollapsed">
        <span *ngIf="menuCollapsed" class="oi oi-menu"></span>
        <span *ngIf="!menuCollapsed" class="oi oi-collapse-up"></span>
      </button>
    </div>
    <div *ngIf="!menuCollapsed" class="menu-container">
      <ul class="nav nav-tabs">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/sessions">Sessions</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/mice">Mice</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/summary">Daily Summary</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row content-container">
    <div class="col-xl-10 offset-xl-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="footer">
  <p>Powered by <a target="_blank" href="https://datajoint.io">DataJoint&trade;</a></p>
</div>


