<div class="col-12 navigator-container">

  <div *ngIf="userIsAuthenticated" class="float-right col-3 navBarLogin">
    <app-login></app-login>
  </div>
  <div class="row title-container">
    <img src="assets/images/IBLlogo.png">
    <div class="navigator-head">
      <h3 class="navigator-header-title">Data Portal</h3>
    </div>
  </div>
  
  <div class="row">
    <div class="menu-container">
      <ul class="nav nav-tabs">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/mice">Mice</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/sessions">Sessions</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row content-container">
    <div class="col-xl-10 offset-xl-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


