.table-container {
    width: 100%;
    overflow-x: auto !important;
}

tr.mat-row:hover {
    background-color: rgba(0, 83, 145, .05);
    cursor: pointer;
}

.loading-icon {
    text-align: center;
    /* position: absolute;
    margin-left: 40%;
    margin-top: 37px;
    z-index: 999; */
}

.loading-icon img {
    width: 100px;
}

.subject-list-container {
    padding-top: 20px;
}

h4 {
    font-weight: 300;
}

form { 
    margin-bottom: 5px;
    padding-bottom: 25px;
    border-bottom: 3px solid rgb(209, 209, 209);
    font-size: 80%;
    display: flex;
    flex-direction: column;
    width: 100%;
} 

.filterExpand {
    height: auto;
    visibility: visible;
}
.filterCollapse,
.filterCollapse * {
    height: 0;
    visibility: hidden;
}

.mat-datepicker-toggle{
    position:absolute;
    font-size: 3em;
    margin-left: -50px;
    margin-top: -20px;
}

.filters {
    width: 100%;
}

.vital_status_filter,
.ready4delay_filter,
.spinning_brain_filter {
    margin-left: 15px;
    margin-top: 7px;
}

label {
    font-weight: 500;
}

td.to-center {
    text-align: center;
}



mat-form-field {
    width: 220px;
    float:left;
    margin: 10px;
}

mat-form-field.long {
    width: 350px;
}

mat-form-field.short {
    width: 190px;
}

.filter-buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    float: left;
    width: 100%;
}

.btn-reset {
    border: 2px solid rgb(180, 69, 134) !important;
}
.btn-reset:hover {
    border: 2px solid rgb(180, 69, 134) !important;
    background-color: rgb(180, 69, 134) !important;
    color: white;
}

button.mat-raised-button {
    float: left;
    margin-left: 5px;
    border: 2px solid rgb(101, 152, 184);
}

button.mat-raised-button:hover {
    border: 2px solid rgb(0, 124, 183);
    background-color: rgb(0, 124, 183);
    color: white;
}

.mouse_sex_filter {
    padding-top: 12px;
    padding-bottom: 3px;
    margin-top: 11px;
    margin-left: 10px;
    width: 150px;
    float: left;  
}

mat-checkbox.mouse_sex_menu_chbox {
    margin-right: 12px;
}

.mouse_sex_menu{
    display: flex;
    flex-direction: row;
};



/* XXXL (2200px and up) */
@media only screen and (min-width: 2200px) {
    .loading-icon {
        margin-left: 700px;
    }
}





