#SRTCpngExport {
    width: 100%;
    border: 1px solid rgb(240, 240, 240);
}

#SRTCpngExport:hover {
    border: 2px solid rgb(240, 240, 240);
    background: linear-gradient(to left, rgba(248, 175, 242, 0.075), rgba(175, 231, 248, 0.075));
}

.missingPlotNotice {
    width: 80%;
    font-size: 90%;
}