.login-container {
    padding-top: 20px;
}

.login-sub-container {
    float: right;
}

.login-fail-text {
    color: red;
    font-size: 80%;
    float: left;
}

h4 {
    font-weight: 300;
}


@media (max-width: 430px) {
    .login-container button {
        font-size: 80%;
        padding: 2px 8px;
    }
}