.subject-list-container {
    padding-top: 20px;
}

h4 {
    font-weight: 300;
}

form { 
    margin-bottom: 5px;
    padding-bottom: 25px;
    border-bottom: 3px solid rgb(209, 209, 209);
    font-size: 80%;
    display: inline-block;
    width: 100%;
} 

mat-form-field {
    float:left;
    margin: 10px;
}

button.mat-raised-button {
    background-color: rgb(255, 244, 245);
}

mat-card {
    border: solid 1px rgb(194, 193, 193);
    background-color: rgb(252, 252, 252);
    margin: 2px;
    /* width: 200px; */
    float: left;
}

tr.mat-row:hover {
    background-color: rgb(248, 248, 248);
    cursor: pointer;
}

.mouse_gender_menu{
    display: flex;
    flex-direction: column;
};



