.animatedPCplot-container {
    display: flex;
    flex-direction: row;
    
}

.eachSessionDetails {
    margin-top: 150px;
    margin-left: 10px;
    font-size: 90%;
}

.quickSessionDetails {
    padding-top: 10px;
}