<div *ngIf="driftmapLookup[driftmapInfo['probe_idx']]">
  <!-- <p>about to show depth raster image of: <a target="_blank" href="{{driftmapLookup[driftmapInfo['probe_idx']]['layout']['images'][0]['source']}}" >{{ driftmapLookup[driftmapInfo['probe_idx']]['layout']['images'][0]['source'] }}</a></p> -->
  <p *ngIf="driftmapLoading">
    <b style="color: rgb(184, 2, 2);">Depth Raster Loading...</b> 
    <br><b>* Please sit tight! You may experience browser unresponsiveness until plot is fully loaded and this message disappears.</b>
  </p>
  <plotly-plot (initialized)="plotInitialized()" [data]="driftmapLookup[driftmapInfo['probe_idx']]['data']" [layout]="driftmapLookup[driftmapInfo['probe_idx']]['layout']" [config]="driftmapLookup[driftmapInfo['probe_idx']]['config']"></plotly-plot> 
</div>
<div *ngIf="!driftmapLookup[driftmapInfo['probe_idx']]">
  <p>Quality control depth raster plot not available for this session.</p>
</div>