
<div *ngIf="driftmapLookup[driftmapInfo['probe_idx']]">
<p>about to show depth raster image of: <a target="_blank" href="{{driftmapLookup[driftmapInfo['probe_idx']]['layout']['images'][0]['source']}}" >{{ driftmapLookup[driftmapInfo['probe_idx']]['layout']['images'][0]['source'] }}</a></p>
<plotly-plot [data]="driftmapLookup[driftmapInfo['probe_idx']]['data']" [layout]="driftmapLookup[driftmapInfo['probe_idx']]['layout']" [config]="driftmapLookup[driftmapInfo['probe_idx']]['config']"></plotly-plot> 
</div>
