<div class="cluster-container">
  <h5>Cluster Info</h5>
  <div class="row cluster-info-table">
    <table class="table col-lg-6 col-sm-6 col-xs-12 table-striped table-bordered table-sm">
      <tr>
        <th>Session Start Time</th>
        <td>{{ cell?.session_start_time.split("T")[0] }} {{ cell?.session_start_time.split("T")[1] }}</td>
      </tr>
      <tr>
        <th>Subject UUID</th>
        <td>{{ cell?.subject_uuid }}</td>
      </tr>
      <tr>
        <th>Cluster ID</th>
        <td>{{ cell?.cluster_id }}</td>
      </tr>
      <tr>
        <th>Probe Index</th>
        <td>{{ cell?.probe_idx }}</td>
      </tr>
      <tr>
        <th>Cluster Revision</th>
        <td>{{ cell?.cluster_revision }}</td>
      </tr>
      <tr>
        <th>Probe Model Name</th>
        <td>{{ cell?.probe_model_name }}</td>
      </tr>
    </table>
    <table class="table col-lg-4 col-sm-6 col-xs-12 table-striped table-bordered table-sm">
      <tr>
        <th>Channel Group ID</th>
        <td>{{ cell?.channel_group_id }}</td>
      </tr>
      <tr>
        <th>Channel ID</th>
        <td>{{ cell?.channel_id }}</td>
      </tr>
      <tr>
        <th>Cluster Depth</th>
        <td>{{ cell?.cluster_depth }}</td>
      </tr>
      <tr>
        <th>Cluster Annotation</th>
        <td>{{ cell?.cluster_phy_annotation }}</td>
      </tr>
      <tr>
        <th>Cluster Amp</th>
        <td>{{ cell?.cluster_amp }}</td>
      </tr>
    </table>
  </div>
  <hr>
  <h5>Plots</h5>
  <div class="rasterPlotsSection" *ngIf="cell">
    <h6>Raster Plot</h6>
    <app-raster-plots [clusterInfo]="cell"></app-raster-plots>
  </div>
  <div class="psthPlotsSection" *ngIf="cell">
    <h6>PSTH Plot</h6>
    <app-psth-plots [clusterInfo]="cell"></app-psth-plots>
  </div>

</div>
