/* .user-guide-container {
    padding-top: 20px;
}
h4 {
    font-weight: 300;
} */

* {
    box-sizing: border-box;
}

.home-container {
    width: 100vw;
}
.home-top-container {  
    background-image: url("/assets/images/home_ibl_brainbow.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    height: 600px;
}

.top-text-container {
    color: rgb(32, 31, 34);
    padding: 220px 220px 120px 80px;
}

.top-title {
    font-size: 2.75rem;
}
.top-text-details {
    padding: 18px 0 18px;
    background-color: rgba(255, 255, 255, 0.55);
    font-size: 1.25rem;
}
.top-text-details a,
ol a {
    color: #03a2da; 
}
.top-text-details a:hover,
ol a:hover {
    color: #c944a4;
    text-decoration: none;
}

.home-bottom-container {
    height: 800px;
    background-color: #ecececc0;
}

.detail-container {
    padding: 80px 220px 10px 80px;
}
.detail-container p.detail-text {
    padding: 18px 0 0;
    font-size: 1.25rem;
}
.figures {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.each-figure {
    height: 320px;
    margin: 0px 18px;
    text-align: center;
}

.text-image {
    max-width: 300px;
    max-height: 300px;
}

.figure-caption {
    margin-top: 8px;
    
}

#fig3 {
    width: 250px;
}

ol {
    margin-top: 18px;
    font-size: 0.9rem;
}

/* for different screen sizes */
/* XS and S (768px and down) */
@media only screen and (max-width: 768px) {
    .home-top-container {
        height: auto;
        background-size: 200%;
        background-position: center;
    }
    .home-bottom-container {
        height: auto;
    }
    .top-text-container {
        padding: 100px 80px 50px 30px;
    }
    .top-title {
        font-size: 1.75rem;
    }
    .detail-container {
        padding: 60px 80px 10px 30px;
    }

    .detail-container h3 {
        font-size: 1.5rem;
    }
    .top-text-details,
    .detail-container p.detail-text {
        font-size: 1rem;
    }
    .figures {
        display: inline-block;
        justify-content: flex-start;
    }
    .each-figure {
        height: auto;
        margin: 10px 8px;
        float: left;
    }

    .text-image {
        max-width: 50vw;
        max-height: auto;
    }

} 

/* M (768px to 992) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .home-top-container {
        height: auto;
        background-size: 175%;
        background-position: center bottom;
    }
   .home-bottom-container {
        height: auto;
        background-size: 200%;
    }
    .top-text-container {
        padding: 120px 80px 50px 30px;
    }
    .top-title {
        font-size: 2rem;
    }
    .detail-container {
        padding: 60px 80px 10px 30px;
    }
    .top-text-details,
    .detail-container p.detail-text {
        font-size: 1rem;
    }
    .figures {
        display: inline-block;
        justify-content: flex-start;
    }
    .each-figure {
        max-height: 275px;
        margin: 0px 8px;
        float: left;
    }

    .text-image {
        max-width: 220px;
        max-height: 220px;
    }
 
} 

/* L (992px to 1200px) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .home-bottom-container {
        min-height: 800px;
    }
    .top-text-container {
        padding: 160px 120px 80px 80px;
    }
    .top-title {
        font-size: 2.25rem;
    }
    .detail-container {
        padding: 80px 120px 10px 80px;
    }
    .top-text-details,
    .detail-container p.detail-text {
        font-size: 1.15rem;
    }
    .each-figure {
        height: 275px;
        margin: 0px 12px;
    }

    .text-image {
        max-width: 250px;
        max-height: 250px;
    }
} 

/* XL (1200px to 1600) */
@media only screen and (min-width: 1201px) and (max-width: 1600px) {
 
    .top-text-container {
        padding: 180px 150px 120px 80px;
    }
    .top-title {
        font-size: 2.5rem;
    }
    .detail-container {
        padding: 80px 150px 10px 80px;
    }
    .top-text-details,
    .detail-container p.detail-text {
        font-size: 1.2rem;
    }
}

/* XXL (1600px to 2200px) */
@media only screen and (min-width: 1601px) and (max-width: 2200px) {
    .home-top-container {
        background-position: -150px;
        height: auto;
    }
    .home-bottom-container {
        height: auto;
    }
    .top-text-container,
    .detail-container {
        max-width: 1800px;
    }
    .top-title {
        font-size: 2.75rem;
    }
    .top-text-details,
    .detail-container p.detail-text {
        font-size: 1.4rem;
    }
}


/* XXXL (2200px and up) */
@media only screen and (min-width: 2201px) {
    .home-top-container {
        background-position: -400px;
        height: auto;
    }
    .home-bottom-container {
        height: auto;
    }
    .top-text-container,
    .detail-container {
        max-width: 1800px;
    }
    .top-title {
        font-size: 3rem;
    }
    .top-text-details,
    .detail-container p.detail-text {
        font-size: 1.6rem;
    }

}
