<!-- <div class="user-guide-container">
<h4>User Guide</h4>
  <iframe width="100%" height="800px"
    src="https://docs.google.com/document/d/e/2PACX-1vRG2kp5vLlRmnbo1kYkoJmmfBHWuylsDXHT0N_teP27OGyctip5_SXaxlqCaIiqGx-FysgwMP68OpHK/pub?embedded=true"></iframe>
</div> -->
<!-- <img class="home_banner" src="assets/images/home_ibl_brainbow.jpg"> -->
<div class="home-container">
  <div class="text-container">
    <h2>International Brain Laboratory Behavioral Data Portal</h2>
    <div class="text-details">
      <p>The International Brain Laboratory is a team of 21 experimentalists and theorists, working collaboratively to understand
      the computations that support decision-making in the brain.</p>
      <p>This portal contains behavioral data from a standardized training pipeline, implemented in 7 experimental sites
      worldwide. Mice learn to make decisions that combine incoming visual evidence with internal beliefs about the dynamic
      structure of the environment. Through this portal, users can view behavioral data from mice throughout their training,
      and see the transition from novice to expert behavior unfold.</p>
    </div>
  </div>
</div>