<!-- <div class="user-guide-container">
<h4>User Guide</h4>
  <iframe width="100%" height="800px"
    src="https://docs.google.com/document/d/e/2PACX-1vRG2kp5vLlRmnbo1kYkoJmmfBHWuylsDXHT0N_teP27OGyctip5_SXaxlqCaIiqGx-FysgwMP68OpHK/pub?embedded=true"></iframe>
</div> -->
<!-- <img class="home_banner" src="assets/images/home_ibl_brainbow.jpg"> -->
<div class="home-container">
  <div class="home-top-container">
    <div class="top-text-container">
      <h2 class="top-title">International Brain Laboratory Behavioral Data Portal</h2>
      <div class="top-text-details">
        <p>The <a href="https://www.internationalbrainlab.com" target="_blank">International Brain Laboratory</a> is a team of 22 experimentalists and theorists, working collaboratively to understand
        the computations that support decision-making in the brain.</p>
        <p>This portal contains behavioral data from a standardized training pipeline, implemented in 9 labs of 7 institutions
        worldwide. Mice learn to make decisions that combine incoming visual evidence with internal beliefs about the dynamic
        structure of the environment. Through this portal, users can view behavioral data from mice throughout their training,
        and see the transition from novice to expert behavior unfold.</p>
        <p>The content of this portal reflects a sub-selected 103 mice out of over 600 mice studied in the project as of 11/30/2019.
          101 of the mice were used in the publication <em>"A standardized and reproducible method to measure decision-making in mice"</em>.
        </p>
      </div>
    </div>
  </div>
  <div class="home-middle-container">
    <div class="detail-container">
      <h3>Behavioral Paradigm</h3>
      <p class="detail-text">The IBL behavioral data is generated during a dynamic foraging task for mice<sup><a href="https://doi.org/10.1016/j.neuron.2017.12.013" target="_blank"><span matTooltip="Abbott, L. F. et al. An International Laboratory for Systems and Computational Neuroscience. Neuron 96, 1213–1218 (2017)." matTooltipPosition="above">1</span></a></sup>. Mice are trained to judge the spatial
      location of a visual stimulus (vertical grating) and report their decision by moving a wheel to the left or right<sup><a href="https://doi.org/10.1016/j.celrep.2017.08.047" target="_blank"><span matTooltip="Burgess, C. P. et al. High-Yield Methods for Accurate Two-Alternative Visual Psychophysics in Head-Fixed Mice. Cell Rep. 20, 2513–2524 (2017)." matTooltipPosition="above">2</span></a></sup>. The
      contrast of the visual stimulus can be varied so that decisions to range from easy to ambiguous. This allows
      quantification of the animals' threshold, bias, and lapse rate (below). Data are collected daily in 9 labs of 7 research institutions across three countries,
      during both a training and an expert phase. For trained mice, the reward probability for each choice option can be
      experimentally manipulated, encouraging mice to “forage” among different choice alternatives. Behavior during
      decision-making is characterized both using traditional metrics, such as choice and reaction time, along with video
      recordings from 3 high-speed cameras.</p>
      <div class="figures col-10 offset-1">
        <div class="small-figures">
          <div class="each-figure">
            <img src="assets/images/fig1.png" class="text-image" id="fig1">
            <p class="figure-caption"><i>Left-Right lick based behavioral paradigm</i></p>
          </div>
          <div class="each-figure">
            <img src="assets/images/fig2.png" class="text-image" id="fig2">
            <p class="figure-caption"><i>Left-Right bias conditions</i></p>
          </div>
        </div>
        <div class="each-figure">
          <img src="assets/images/fig2b.png" class="text-image-wide" id="fig3b">
          <p class="figure-caption-long"><i>Left: Average psychometric curve for each laboratory. Circles show the mean and error bars ± 1 the S.D. 
            Middle: Psychometric curves shift between biased blocks averaged over all animals. For each animal and signed contrast, we computed 
            their ‘bias shift’ (Δ) by reading out the difference in choice fraction between the 80:20 and 20:80 blocks (dashed lines). 
            Right: Average shift in rightward choices as a function of signed contrast for each laboratory (colors as in c; error bars show 
            mean +- 68% CI)</i></p>
        </div>
        
        <!-- <div class="each-figure">
          <img src="assets/images/fig3.png" class="text-image" id="fig3">
          <p class="figure-caption"><i>Psychometric curves</i></p>
        </div> -->
        
      </div>
      <div class="figures col-10 col-lg-8 col-xl-6 offset-1">
        <div class="each-figure">
          <img src="assets/images/PMFSchematic.png" class="" id="fig4">
          <p class="figure-caption"><i>Animals' bias, threshold, and lapse rate</i></p>
        </div>
      </div>
      <ol>
        <li><a href="https://doi.org/10.1016/j.neuron.2017.12.013" target="_blank">Abbott, L. F. <i>et al.</i> An International Laboratory for Systems and Computational Neuroscience. <i>Neuron </i> <b>96</b>, 1213–1218
        (2017).</a></li>
        <li><a href="https://doi.org/10.1016/j.celrep.2017.08.047" target="_blank">Burgess, C. P. <i>et al</i>. High-Yield Methods for Accurate Two-Alternative Visual Psychophysics in Head-Fixed Mice. <i>Cell Rep. </i>
        <b>20</b>, 2513–2524 (2017).</a></li>
      </ol>
    </div>
  </div>

  <div class="home-bottom-container">
    <div class="detail-container">
      <h3>Training Criteria</h3>
      <p class="detail-text">The animal was habituated for 3 days and trained started after that. The animal is identified as trained based on the following criteria:</p>
        <ol>
          <li>0% and 6% contrasts had been introduced to the contrast set, 2.</li>
          <li>&gt;200 trials were completed with >80% performance on easy (100% and 50% contrasts) trials in each of the last three sessions</li>
          <li>A four-parameter psychometric curve (bias, lapse left, lapse right, threshold) fitted to performance on all trials from the last three sessions had parameter values of bias &lt; 16, threshold &lt; 19, and lapses &lt; 0.2.</li>
        </ol>
      <p class="detail-text">If the animal has been trained for over 40 days but still did not achieve the training status, the status will be marked as “over40days”.</p>
    </div>
  </div>
</div>