.user-guide-container {
    padding-top: 20px;
}

/* ================= pattern A start ================== */
h4 {
    font-weight: 300;
}
.home-container {
    background-image: url("/assets/images/home_ibl_brainbow.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 60vw;
    height: 80vh;
    position: absolute;
}
.text-container {
    color: rgb(32, 31, 34);
    padding: 0px 220px 0 0;
    margin-top: 150px;
}
.text-details {
    padding: 18px 0px 6px;
    background-color: rgba(255, 255, 255, 0.55);
}
.text-details a {
    color: #03a2da; 
}
.text-details a:hover {
    color: #c944a4;
    text-decoration: none;
}

.clear-container {
    height: 100vh;
    position: relative;
}
/* ================= pattern A end ================== */

/* for different screen sizes */
/* XS and S (768px and down) */
@media only screen and (max-width: 768px) {
    /* ================= pattern A Start================== */
    .home-container {
        left: -14px;
        background-position: center;
        background-size: auto 100vh;
    }
    .text-container {
        margin: 50px 5px 5px 19px;
        padding: 0;
    }
    .text-details {
        padding: 18px 0px 6px;
    }
    /* ================= pattern A End================== */

} 

/* M (768px and up) */
@media only screen and (min-width: 768px) {
    /* ================= pattern A Start================== */
    .home-container {
        left: -14px;
        background-position: center;
        background-size: 150%;
    }
    .text-container {
        margin-left: 39px;
        margin-top: 130px;
        padding: 0px 120px 0 0;
    }
    .text-details {
        padding: 18px 0px 6px;
    }
    /* ================= pattern A End================== */
 
} 

/* L (992px and up) */
@media only screen and (min-width: 992px) {
    /* ================= pattern A Start================== */
    .text-container {
        margin-left: 54px;
        margin-top: 150px;
        padding: 0px 120px 0 0;
    }
    .title {
        font-size: 2.5rem;
    }
    .text-details {
        font-size: 1.15rem;
        margin-right: 100px;
        padding: 18px 0px 6px;
    }
    /* ================= pattern A End================== */
} 

/* XL (1200px and up) */
@media only screen and (min-width: 1200px) {
    /* ================= pattern B Start================== */
 
    .home-container {
        background-position: right center;
        background-size: 70vw;
    }
    .text-container {
        padding: 0px 220px 0 0;
        margin-top: 150px;
    }
    .title {
        font-size: 2.5rem;
    }
    .text-details {
        font-size: 1.2rem;
        padding: 18px 0px 6px;
    }
    /* ================= pattern B End================== */
}

/* XXL (1600px and up) */
@media only screen and (min-width: 1600px) {
    .home-container {
        background-size: 70vw;
        height: 80vh;
    }
    .text-container {
        padding: 0px 220px 0 0;
        margin-top: 150px;
    }
    .title {
        font-size: 2.75rem;
    }
    .text-details {
        font-size: 1.4rem;
        padding: 18px 0px 6px;
    }
}


/* XXXL (2200px and up) */
@media only screen and (min-width: 2200px) {
    .text-container {
        max-width: 1750px;
    }
    .title {
        font-size: 3rem;
    }
    .text-details {
        font-size: 1.6rem;
    }

}
