<div *ngIf="cells">
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="cell-header">
    <h3>Cells</h3>
    

    <h6>(Total clusters for probe {{probeIndex}}: {{cellsByProbeIns.length}})</h6>
    <div class="quality-control-nav">&nbsp;Quality Control&nbsp;<span class="oi oi-external-link" routerLink="/qc/{{sessionInfo?.subject_uuid}}/{{sessionInfo?.session_start_time}}" [queryParams]="{nickname: sessionInfo?.subject_nickname, lab: sessionInfo?.session_lab, project: sessionInfo?.session_project, protocol: sessionInfo?.task_protocol}"></span></div>

  </div>
  <div class="coronal-section-area">
    <!-- This coronal section probe selector replaces the original dropdown probe selectors -->
    <div class="coronal-section-probe-options">
      <div *ngFor="let probe of probeIndices">
        <div *ngIf="coronalSectionProbeList.length > 0">
          <div *ngFor="let section of coronalSections">
            <div *ngIf="section.probe_idx === probe" class="probe-selector" (click)="probe_selected(section.probe_idx)">
              <img [ngClass]="probe == probeIndex ? 'selected coronal-section-image' : 'coronal-section-image'" [src]="section.probe_trajectory_coronal_link" />
              <div class="radio-options">
                <input type="radio" [name]="section.probe_idx" [checked]="section.probe_idx == probeIndex"/>
                <label [for]="section.probe_idx">&nbsp;{{probeInfo[section.probe_idx].probe_label}}</label>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!coronalSectionProbeList.includes(probe)" class="probe-selector" (click)="probe_selected(probe)">
          <div [ngClass]="probe == probeIndex ? 'selected dummy-image' : 'dummy-image'">Probe trajectory not yet resolved</div>
          <div class="radio-options">
            <input type="radio" [name]="probe" [checked]="probe == probeIndex" />
            <label [for]="probe">&nbsp;{{probeInfo[probe]? probeInfo[probe].probe_label: ''}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="probeTrajInfo && probeTrajInfo.LM">
    <b>LM</b>: {{probeTrajInfo.LM}}, <b>AP</b>: {{probeTrajInfo.AP}}, <b>z</b>: {{probeTrajInfo.z}}, <b>depth</b>: {{probeTrajInfo.depth}}, 
    <b>angle</b>: {{probeTrajInfo.angle}}, <b>hemisphere</b>: {{probeTrajInfo.hemisphere}}, <b>trajectory source</b>: {{probeTrajInfo.trajectory_source}}
  </div>
  <div *ngIf="!probeTrajInfo || !probeTrajInfo.LM">
    <p>No probe trajectory information found for the selected probe.</p>
  </div>
  <div *ngIf="goodClusters.length > 0">Good Clusters ({{goodClusters.length}})/ All Clusters ({{cellsByProbeIns.length}})</div>
  <div style="background-color: rgb(151, 9, 4); width: fit-content; padding: 0 8px;" *ngIf="plot_data_processed && plot_data_processed[0] && probeTrajInfo && probeTrajInfo.trajectory_source !== 'Ephys aligned histology track'">
    <b style="color:white;" >Temporary plot alignment: NOT based on ephys-aligned histology</b>
  </div>

  <span class="cluster-nav-filters">
    <!-- used for debugging the coronal section probe selectors -->
    <!-- <div class="probe-selection-area">
      <label for="probe_idx">Select Probe Insertion Index:&nbsp;&nbsp;  </label>
      <select name="probe_idx" (change)="probe_selected($event.target.value)">
        <option *ngFor="let probeIns of probeIndices" [value]="probeIns" [selected]="probeIns == probeIndices[0]">{{probeIns}}</option>
      </select>
    </div> -->
    <div class="gc-filter-area">
      <label for="gc-filter">Select Good Cluster Criterion Filter:&nbsp;&nbsp;  </label>
      <select name="gc-filter" (change)="gcfilter_selected($event.target.value)">
        <option *ngFor="let gcfilter of gcfilter_types | keyvalue" [value]="gcfilter.key" [selected]="gcfilter == gcfilter_types[0]">{{ gcfilter.value }}</option>
      </select>
    </div>
  </span>

  <div class="row">
    <br />
    <div class="cluster-nav-plot-area">
      <div *ngIf="plot_data_processed && plot_data_processed[0]" class="yaxis-selector-plot-area">
        <div class="alternative_plot_buttons y_axis">
          <label for="y_label"><b>y axis</b></label>
          <div class="radio-option">
            <input type="radio" name="navplot_y_label" id="cluster_depth_y" value="cluster_depth" [checked]="toPlot_y === 'cluster_depth'" (change)="restylePlot([{selected_y: $event.target.value}])">
            <label for="cluster_depth_y" [style.color]="toPlot_x === 'cluster_depth' ? 'lightgrey' : ''">cluster depth</label>
          </div>
          <div class="radio-option">
            <input type="radio" name="navplot_y_label" id="cluster_amp_y" value="cluster_amp" [checked]="toPlot_y === 'cluster_amp'" (change)="restylePlot([{selected_y: $event.target.value}])">
            <label for="cluster_amp_y" [style.color]="toPlot_x === 'cluster_amp' ? 'lightgrey' : ''">cluster amp</label>
          </div>
          <div class="radio-option">
            <input type="radio" name="navplot_y_label" id="firing _rate_y" value="firing_rate" [checked]="toPlot_y === 'firing_rate'" (change)="restylePlot([{selected_y: $event.target.value}])">
            <label for="firing _rate_y" [style.color]="toPlot_x === 'firing_rate' ? 'lightgrey' : ''">firing rate</label>
          </div>
        </div> 
      
        <plotly-plot [data]="plot_data_processed" [layout]="plot_layout_processed" [config]="plot_config" (restyle)="restylePlot($event)" (plotlyClick)="clusterSelectedPlot($event)"></plotly-plot>
      </div>
      <plotly-plot *ngIf="!plot_data_processed || !plot_data_processed[0]" [data]="plot_data" [layout]="plot_layout" [config]="plot_config" (restyle)="restylePlot($event)" (plotlyClick)="clusterSelectedPlot($event)"></plotly-plot>

      <div *ngIf="plot_data_processed && plot_data_processed[0]" class="alternative_plot_buttons x_axis">
        <label for="x_label"><b>x axis</b></label>
        <div class="radio-option">
          <input type="radio" name="navplot_x_label" id="cluster_amp_x" value="cluster_amp" [checked]="toPlot_x === 'cluster_amp'" (change)="restylePlot([{selected_x: $event.target.value}])">
          <label for="cluster_amp_x" [style.color]="toPlot_y === 'cluster_amp' ? 'lightgrey' : ''">cluster amp</label>
        </div>
        <div class="radio-option">
          <input type="radio" name="navplot_x_label" id="cluster_depth_x" value="cluster_depth" [checked]="toPlot_x === 'cluster_depth'" (change)="restylePlot([{selected_x: $event.target.value}])">
          <label for="cluster_depth_x" [style.color]="toPlot_y === 'cluster_depth' ? 'lightgrey' : ''">cluster depth</label>
        </div>
        <div class="radio-option">
          <input type="radio" name="navplot_x_label" id="firing _rate_x" value="firing_rate" [checked]="toPlot_x === 'firing_rate'" (change)="restylePlot([{selected_x: $event.target.value}])">
          <label for="firing _rate_x" [style.color]="toPlot_y === 'firing_rate' ? 'lightgrey' : ''">firing rate</label>
        </div>
      </div> 
    </div>

    <div class="depth-peth-plot-area">
      <div class="order-buttons col-10">
        
        <div class="order-button-content">
          <label for="event"><b>Event</b></label>
          <div class="radio-option">
            <input type="radio" name="depthPETHevent" id="stim on" value="stim on" [checked]="eventType === 'stim on'" (change)="order_by_event($event.target.value)">
            <label for="stim on">Stim On</label>
          </div>
          <div class="radio-option">
            <input type="radio" name="depthPETHevent" id="movement" value="movement" [checked]="eventType === 'movement'" [disabled]="rasterEventLacksMovement && psthEventLacksMovement && depthPethEventLacksMovement" (change)="order_by_event($event.target.value)">
            <label for="movement" [style.color]="rasterEventLacksMovement && psthEventLacksMovement && depthPethEventLacksMovement ? 'lightgrey' : ''">Movement</label>
          </div>
          <div class="radio-option">
            <input type="radio" name="depthPETHevent" id="feedback" value="feedback" [checked]="eventType === 'feedback'" (change)="order_by_event($event.target.value)">
            <label for="feedback">Feedback</label>
          </div>    
        </div>  
      </div>
      <div *ngIf="!depthPethIsLoading && depthPethLookup[eventType] && depthPethLookup[eventType]['data']">
        <plotly-plot [data]="depthPethLookup[eventType]['data']" [layout]="depthPethLookup[eventType]['layout']" [config]="depthPethLookup[eventType]['config']"></plotly-plot> 
      </div>
      <div *ngIf="!depthPethIsLoading && (!depthPethLookup[eventType] || !depthPethLookup[eventType]['data'])" class="depth-peth-not-available">
        <p>Depth PETH plot not available for this session</p> 
      </div>
    </div>
    <div [class]="minimizeController? 'plots-navigator minimize': 'plots-navigator'" *ngIf="showController">
      <div *ngIf="cells" class="clusterListContainer">
        <table matSort (matSortChange)="sortData($event)" class="table table-sm table-hover ml-auto clusterListTable" #navTable>
          <thead class="thead-light">
            <th mat-sort-header="cluster_id">Cluster ID</th>
            <th>Probe Index</th>
            <th mat-sort-header="cluster_depth">Cluster Depth (µm)</th>
            <th mat-sort-header="cluster_amp">Cluster Amp (µV)</th>
            <th mat-sort-header="firing_rate">Firing Rate</th>
          </thead>
          <tbody>
            <tr *ngFor="let cl of sortedCellsByProbeIns" (click)="clusterSelectedTable(cl.cluster_id)" [ngStyle]="{'backgroundColor': cl?.cluster_id == clickedClusterId ? '#ffe5e5' : '', 'color': !goodClusters.includes(cl?.cluster_id) && goodClusters.length ? 'lightgrey' : ''}">

              <td>{{ cl.cluster_id }}</td>
              <td>{{ cl.probe_idx }}</td>
              <td>{{ cl.cluster_depth }}</td>
              <td>{{ cl.cluster_amp * 1000000 | number:'0.0-3'}}</td>
              <td>{{ cl.firing_rate | number:'0.0-3'}}</td>

            </tr>
          </tbody>
        </table>
      </div>
      <div class="plots-navigator-buttons">
        <h3><span class="oi oi-collapse-right" (click)="minimizeController = true" *ngIf="showController && !minimizeController"></span></h3>
        <h3><span class="oi oi-collapse-left" (click)="minimizeController = false" *ngIf="showController && minimizeController"></span></h3>
        <br>
        <h3><span class="oi oi-arrow-circle-top" (click)="navigate_cell_plots($event, 'up')"></span></h3>
        <h3><span class="oi oi-arrow-circle-bottom" (click)="navigate_cell_plots($event, 'down')"></span></h3>
      </div>
    </div>
    <br />
    <div class="rasterPlotSelectors col-8">
      <div class="order-buttons col-4">
        <label for="event"><b>Event</b></label>
        <div class="order-button-content">
          <div class="radio-option">
            <input type="radio" name="event" id="stim on" value="stim on" [checked]="eventType === 'stim on'" (change)="order_by_event($event.target.value)">
            <label for="stim on">Stim On</label>
          </div>
          <div class="radio-option">
            <input type="radio" name="event" id="movement" value="movement" [disabled]="rasterEventLacksMovement && psthEventLacksMovement && depthPethEventLacksMovement" [checked]="eventType === 'movement'" (change)="order_by_event($event.target.value)">
            <label for="movement" [style.color]="rasterEventLacksMovement && psthEventLacksMovement && depthPethEventLacksMovement ? 'lightgrey' : ''">Movement</label>
          </div>
          <div class="radio-option">
            <input type="radio" name="event" id="feedback" value="feedback" [checked]="eventType === 'feedback'" (change)="order_by_event($event.target.value)">
            <label for="feedback">Feedback</label>
          </div>
        </div>  
      </div>
      
      <div class="order-buttons col-10">
        <label for="sort_by"><b>Sort By</b></label>
        <div class="order-button-content">
          <div class="radio-option">
            <input type="radio" name="sort_by" id="trial_id" value="trial_id" [checked]="sortType === 'trial_id'" (change)="order_by_sorting($event.target.value)">
            <label for="trial_id">Trial ID</label>
          </div>
          <div class="radio-option">
            <input type="radio" name="sort_by" id="contrast" value="contrast" [disabled]="eventType==='feedback' || eventType==='movement'" [checked]="sortType === 'contrast'" (change)="order_by_sorting($event.target.value)">
            <label for="contrast" [style.color]="eventType==='feedback' || eventType==='movement' ? 'lightgrey' : ''">Contrast</label>
          </div>
          <div class="radio-option">
            <input type="radio" name="sort_by" id="feedback type" value="feedback type" [disabled]="eventType==='stim on' || eventType==='movement'" [checked]="sortType === 'feedback type'" (change)="order_by_sorting($event.target.value)">
            <label for="feedback type" [style.color]="eventType==='stim on' || eventType==='movement' ? 'lightgrey' : ''">Feedback Type</label>
          </div>
          <div class="radio-option">
            <input type="radio" name="sort_by" id="movement - stim on" value="movement - stim on" [disabled]="eventType==='feedback'" [checked]="sortType === 'movement - stim on'" (change)="order_by_sorting($event.target.value)">
            <label for="movement - stim on" [style.color]="eventType==='feedback' ? 'lightgrey' : ''">Movement - Stim On</label>
          </div>
          <div class="radio-option">
            <input type="radio" name="sort_by" id="feedback - stim on" value="feedback - stim on" [disabled]="eventType==='feedback' || eventType==='movement'" [checked]="sortType === 'feedback - stim on'" (change)="order_by_sorting($event.target.value)">
            <label for="feedback - stim on" [style.color]="eventType==='feedback' || eventType==='movement' ? 'lightgrey' : ''">Feedback - Stim On</label>
          </div>
          <div class="radio-option">
            <input type="radio" name="sort_by" id="feedback - movement" value="feedback - movement" [disabled]="eventType==='stim on' || eventType==='feedback'" [checked]="sortType === 'feedback - movement'" (change)="order_by_sorting($event.target.value)">
            <label for="feedback - movement" [style.color]="eventType==='stim on' || eventType==='feedback' ? 'lightgrey' : ''">Feedback - Movement</label>
          </div>
        </div>
      </div>
    </div>
  
  
    <div class="row">
      <div *ngIf="rasterLookup[clickedClusterId]">
        <plotly-plot [data]="rasterLookup[clickedClusterId]['data']" [layout]="rasterLookup[clickedClusterId]['layout']" [config]="rasterLookup[clickedClusterId]['config']"></plotly-plot> 
      </div>
      
      <div *ngIf="psthLookup[clickedClusterId]">
        <plotly-plot [data]="psthLookup[clickedClusterId]['data']" [layout]="psthLookup[clickedClusterId]['layout']" [config]="psthLookup[clickedClusterId]['config']"></plotly-plot> 
      </div>
    </div>

    <div class="row-long">
      <div *ngIf="autocorrelogramLookup[clickedClusterId]">
        <plotly-plot [data]="autocorrelogramLookup[clickedClusterId]['data']" [layout]="autocorrelogramLookup[clickedClusterId]['layout']" [config]="autocorrelogramLookup[clickedClusterId]['config']"></plotly-plot> 
      </div>
      
      <div *ngIf="spikeAmpTimeLookup[clickedClusterId]">
        <plotly-plot [data]="spikeAmpTimeLookup[clickedClusterId]['data']" [layout]="spikeAmpTimeLookup[clickedClusterId]['layout']" [config]="spikeAmpTimeLookup[clickedClusterId]['config']"></plotly-plot> 
      </div>

      <div *ngIf="waveformLookup[clickedClusterId]">
        <plotly-plot [data]="waveformLookup[clickedClusterId]['data']" [layout]="waveformLookup[clickedClusterId]['layout']" [config]="waveformLookup[clickedClusterId]['config']"></plotly-plot> 
      </div>
    </div>

    <br>
  </div>
  <hr>
  <div>
    <div *ngIf="depthRasterTrialLookup[probeIndex] && sliderDepthRasterTrialLookupB">
      <h5>Trial Depth Raster</h5>
      <div class="radio-row">
        <label><b>Trial Type:&nbsp;</b>&nbsp;&nbsp;</label>
        <div class="radio-option trial-type-options" (change)="trialTypeSelected($event.target.value)">
          <input type="radio" value="Correct Left Contrast" [checked]="selectedTrialType == 'Correct Left Contrast'"><label>Correct Left &nbsp;&nbsp;</label>
          <input type="radio" value="Correct Right Contrast" [checked]="selectedTrialType == 'Correct Right Contrast'"><label>Correct Right &nbsp;&nbsp;</label>
          <input type="radio" value="Incorrect Left Contrast" [checked]="selectedTrialType == 'Incorrect Left Contrast'"><label>Incorrect Left &nbsp;&nbsp;</label>
          <input type="radio" value="Incorrect Right Contrast" [checked]="selectedTrialType == 'Incorrect Right Contrast'"><label>Incorrect Right &nbsp;&nbsp;</label>
          <input type="radio" value="All Trial Types" [checked]="selectedTrialType == 'All Trial Types'"><label>All Trial Types</label>
        </div>
      </div>
      <!-- sliding through trial IDs, trialContrast NOT differentiated (for smaller batch of generated trial depth rasters) --> 
      <!-- <plotly-plot (sliderChange)="flipTrialContrast($event)" [data]="sliderDepthRasterTrialLookup[probeIndex][selectedTrialType][selectedTrialContrast]['data']" [layout]="sliderDepthRasterTrialLookup[probeIndex][selectedTrialType][selectedTrialContrast]['layout']" [config]='raster_psth_config'></plotly-plot> -->

      <!-- <hr> -->
      
      <div class="radio-row">
        <label><b>Trial Contrast:&nbsp;</b>&nbsp;&nbsp;</label>
        <div *ngIf="sliderDepthRasterTrialLookupB && sliderDepthRasterTrialLookupB[probeIndex][selectedTrialType]">
          <div class="radio-option trial-contrast-options" (change)="trialContrastSelected($event.target.value)" >
            <div *ngFor="let contrast of availableTrialContrasts">
              <input type="radio" value="{{contrast}}" [checked]="selectedTrialContrast == contrast"><label>{{contrast}} &nbsp;&nbsp;</label>
            </div>
          </div>
        </div>
      </div>

      <label *ngIf="selectedTrialContrast != 'All Trial Contrasts'"><b>Trial ID:&nbsp;</b>{{featuredTrialIdB}}</label>
      <!-- sliding through trial IDs, trialContrast differentiated (for larger batch of generated trial depth rasters in the future) --> 
      <plotly-plot (sliderChange)="flipTrialID_B($event)" [data]="sliderDepthRasterTrialLookupB[probeIndex][selectedTrialType][selectedTrialContrast][featuredTrialIdB]['data']" [layout]="sliderDepthRasterTrialLookupB[probeIndex][selectedTrialType][selectedTrialContrast][featuredTrialIdB]['layout']" [config]='raster_psth_config'></plotly-plot>
      
    </div>
  </div>

</div>
