<div *ngIf="cells">
  <div class="cell-header"><h3>Cells</h3><h6>(Total clusters for probe {{probeIndex}}: {{cellsByProbeIns.length}})</h6></div>
  <span class="cluster-nav-filters">
    <div class="probe-selection-area">
      <label for="probe_idx">Select Probe Insertion Index:&nbsp;&nbsp;  </label>
      <select name="probe_idx" (change)="probe_selected($event.target.value)">
        <option *ngFor="let probeIns of probeIndices" [value]="probeIns" [selected]="probeIns == probeIndices[0]">{{ probeIns }}</option>
      </select>
    </div>
    <div class="gc-filter-area">
      <label for="gc-filter">Select Good Cluster Criterion Filter:&nbsp;&nbsp;  </label>
      <select name="gc-filter" (change)="gcfilter_selected($event.target.value)">
        <option *ngFor="let gcfilter of gcfilter_types | keyvalue" [value]="gcfilter.key" [selected]="gcfilter == gcfilter_types[0]">{{ gcfilter.value }}</option>
      </select>
    </div>
  </span>
  <div *ngIf="probeTrajInfo && probeTrajInfo.LM">
    <b>LM</b>: {{probeTrajInfo.LM}}, <b>AP</b>: {{probeTrajInfo.AP}}, <b>z</b>: {{probeTrajInfo.z}}, <b>depth</b>: {{probeTrajInfo.depth}}, 
    <b>angle</b>: {{probeTrajInfo.angle}}, <b>hemisphere</b>: {{probeTrajInfo.hemisphere}}, <b>trajectory source</b>: {{probeTrajInfo.trajectory_source}}
  </div>
  <div *ngIf="goodClusters.length > 0">Good Clusters ({{goodClusters.length}})/ All Clusters ({{cellsByProbeIns.length}})</div>
  <div class="row">
    <plotly-plot [data]="plot_data" [layout]="plot_layout" [config]="plot_config" (restyle)="restylePlot($event)" (click)="clusterSelectedPlot($event)"></plotly-plot>
    <div class="plots-navigator" *ngIf="showController">
      <div *ngIf="cells" class="clusterListContainer">
        <table matSort (matSortChange)="sortData($event)" class="table table-sm table-hover col-5 ml-auto clusterListTable" #navTable>
        <!-- <table class="table table-sm table-hover col-5 ml-auto clusterListTable" #navTable> -->
          <thead class="thead-light">
            <th mat-sort-header="cluster_id">Cluster ID</th>
            <th>Probe Index</th>
            <th mat-sort-header="cluster_depth">Cluster Depth (µm)</th>
            <th mat-sort-header="cluster_amp">Cluster Amp (µV)</th>
            <th mat-sort-header="firing_rate">Firing Rate</th>
            <!-- <th>Details</th> -->
          </thead>
          <tbody>
            <!-- <tr *ngFor="let cl of cellsByProbeIns" (click)="clusterSelectedTable(cl.cluster_id)" [ngStyle]="{'backgroundColor': cl?.cluster_id == clickedClusterId ? '#ffe5e5' : ''}"> -->
            <tr *ngFor="let cl of sortedCellsByProbeIns" (click)="clusterSelectedTable(cl.cluster_id)" [ngStyle]="{'backgroundColor': cl?.cluster_id == clickedClusterId ? '#ffe5e5' : '', 'color': !goodClusters.includes(cl?.cluster_id) && goodClusters.length ? 'lightgrey' : ''}">

              <td>{{ cl.cluster_id }}</td>
              <td>{{ cl.probe_idx }}</td>
              <td>{{ cl.cluster_depth }}</td>
              <td>{{ cl.cluster_amp * 1000000 | number:'0.0-3'}}</td>
              <td>{{ cl.firing_rate | number:'0.0-3'}}</td>
              <!-- <td>
                <span class="oi oi-external-link" routerLink="/cell/{{cl?.subject_uuid}}/{{cl?.session_start_time}}/{{cl?.cluster_id}}">
                  <div hidden>
                    <td>{{ cl.cluster_id }}</td>
                    <td>{{ cl.probe_idx }}</td>
                    <td>{{ cl.cluster_depth }}</td>
                    <td>{{ cl.cluster_amp }}</td>
                  </div>
                </span>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="plots-navigator-buttons">
        <h3><span class="oi oi-arrow-circle-top" (click)="navigate_cell_plots($event, 'up')"></span></h3>
        <h3><span class="oi oi-arrow-circle-bottom" (click)="navigate_cell_plots($event, 'down')"></span></h3>
      </div>
    </div>

    <div class="rasterPlotSelectors col-8">
      <div class="order-buttons col-4">
        <label for="event"><b>Event</b></label>
        <!-- <select name="event" (change)="order_by_event($event.target.value)">
          <option value="feedback" [selected]="eventType === 'feedback'">Feedback</option>
          <option value="stim on" [selected]="eventType === 'stim on'">Stim On</option>
        </select> -->
        <div class="order-button-content">
          <div class="radio-option">
            <input type="radio" name="event" id="feedback" value="feedback" [checked]="eventType === 'feedback'" (change)="order_by_event($event.target.value)">
            <label for="feedback">Feedback</label>
          </div>
          <div class="radio-option">
            <input type="radio" name="event" id="stim on" value="stim on" [checked]="eventType === 'stim on'" (change)="order_by_event($event.target.value)">
            <label for="stim on">Stim On</label>
          </div>
        </div>  
      </div>
      <div class="order-buttons col-8">
        <label for="sort_by"><b>Sort By</b></label>
        <!-- <select name="sort_by" (change)="order_by_sorting($event.target.value)">
          <option value="trial_id" [selected]="sortType === 'trial_id'">Trial ID</option>
          <option value="feedback - stim on" [disabled]="eventType==='feedback'" [selected]="sortType === 'feedback - stim on'">Feedback - Stim On</option>
          <option value="contrast" [disabled]="eventType==='feedback'" [selected]="sortType === 'contrast'">Contrast</option>
          <option value="feedback type" [disabled]="eventType==='stim on'" [selected]="sortType === 'feedback type'">Feedback Type</option>
        </select> -->
        <div class="order-button-content">
          <div class="radio-option">
            <input type="radio" name="sort_by" id="trial_id" value="trial_id" [checked]="sortType === 'trial_id'" (change)="order_by_sorting($event.target.value)">
            <label for="trial_id">Trial ID</label>
          </div>
          <div class="radio-option">
            <input type="radio" name="sort_by" id="feedback - stim on" value="feedback - stim on" [disabled]="eventType==='feedback'" [checked]="sortType === 'feedback - stim on'" (change)="order_by_sorting($event.target.value)">
            <label for="feedback - stim on" [style.color]="eventType==='feedback' ? 'lightgrey' : ''">Feedback - Stim On</label>
          </div>
          <div class="radio-option">
            <input type="radio" name="sort_by" id="contrast" value="contrast" [disabled]="eventType==='feedback'" [checked]="sortType === 'contrast'" (change)="order_by_sorting($event.target.value)">
            <label for="contrast" [style.color]="eventType==='feedback' ? 'lightgrey' : ''">Contrast</label>
          </div>
          <div class="radio-option">
            <input type="radio" name="sort_by" id="feedback type" value="feedback type" [disabled]="eventType==='stim on'" [checked]="sortType === 'feedback type'" (change)="order_by_sorting($event.target.value)">
            <label for="feedback type" [style.color]="eventType==='stim on' ? 'lightgrey' : ''">Feedback Type</label>
          </div>
        </div>
      </div>
    </div>
  
  
    <!-- <plotly-plot [data]="raster_data[clickedClusterId]" [layout]="raster_layout[clickedClusterId]" [config]="raster_config[clickedClusterId]"></plotly-plot>  -->
    <div class="row">
      <div *ngIf="rasterLookup[clickedClusterId]">
        <plotly-plot [data]="rasterLookup[clickedClusterId]['data']" [layout]="rasterLookup[clickedClusterId]['layout']" [config]="rasterLookup[clickedClusterId]['config']"></plotly-plot> 

        <!-- <plotly-plot [data]="rasterLookup[clickedClusterId] ? rasterLookup[clickedClusterId]['data']: {}" [layout]="rasterLookup[clickedClusterId]?rasterLookup[clickedClusterId]['layout']: {}" [config]="rasterLookup[clickedClusterId]? rasterLookup[clickedClusterId]['config']: {}"></plotly-plot>  -->
        <!-- <div>rasterLookup[{{clickedClusterId}}][layout]: {{rasterLookup[clickedClusterId]['layout'] | json}}</div> -->
      </div>
      
      <div *ngIf="psthLookup[clickedClusterId]">
        <plotly-plot [data]="psthLookup[clickedClusterId]['data']" [layout]="psthLookup[clickedClusterId]['layout']" [config]="psthLookup[clickedClusterId]['config']"></plotly-plot> 
      </div>
    <!-- <plotly-plot [data]="psth_data[clickedClusterId]" [layout]="psth_layout[clickedClusterId]" [config]="psth_config[clickedClusterId]"></plotly-plot> -->
    </div>

    <br>
  </div>

</div>
