.clusterListTable thead th {
    position: sticky;
    top: -3px;
    z-index: 99;
}

.clusterListTable tbody {
    cursor: pointer;
}

td span.oi {
    z-index: 30;
    position: relative;
}

.clusterListContainer {
    height: 400px;
    overflow-y: auto;

}

.rasterPlotSelectors {
    display: inline-flex;
    flex-direction: row;
}

.order-buttons {
    display: flex;
    flex-direction: column;
}