.clusterListTable thead th {
    position: sticky;
    top: -3px;
}

.clusterListTable tbody {
    cursor: pointer;
}

.clusterListContainer {
    height: 400px;
    overflow-y: auto;

}

.rasterPlotSelectors {
    display: inline-flex;
    flex-direction: row;
}

.order-buttons {
    display: flex;
    flex-direction: column;
}