<div *ngIf="cells">
  <h3>Cells</h3>
</div>
<!-- <p>id: {{ clickedClusterId }}</p> -->
<div class="row">
  <!-- <div #clusterListNavPlot class="col-6" (click)="testMethod($event)"></div> -->
  <plotly-plot [data]="plot_data" [layout]="plot_layout" [config]="plot_config" (click)="clusterSelected($event)"></plotly-plot>
  <div *ngIf="cells" class="clusterListContainer">
    <table class="table table-sm table-hover col-4 ml-auto clusterListTable" #navTable>
      <thead class="thead-light">
        <th>Cluster ID</th>
        <th>Probe Index</th>
        <th>Cluster Depth</th>
        <th>Cluster Amp</th>
      </thead>
      <tbody>
        <tr *ngFor="let cl of cells" [ngStyle]="{'backgroundColor': cl?.cluster_id == clickedClusterId ? '#ffe5e5' : ''}"
                  routerLink="/cell/{{cl?.subject_uuid}}/{{cl?.session_start_time}}/{{cl?.cluster_id}}">

          <td>{{ cl.cluster_id }}</td>
          <td>{{ cl.probe_idx }}</td>
          <td>{{ cl.cluster_depth }}</td>
          <td>{{ cl.cluster_amp }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <plotly-plot [data]="plot_data" [layout]="plot_layout" [config]="plot_config" (click)="clusterSelected($event)">
    </plotly-plot>
  <div *ngIf="cells">
    <app-raster-plots [clusterInfo]="cellOnFocus"></app-raster-plots>
  </div>
  <br>
</div>
