<h4>
  List of Sessions:
</h4>
<form [formGroup]="session_filter_form">
<!-- <form> -->
  <mat-form-field>
    <label for="">Task Protocol</label>
    <input matInput type="text" name="task_protocol" formControlName="task_protocol_control"  [matAutocomplete]="auto" (blur)="updateSessionFilter($event)" >
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let tp of filteredTaskProtocolOptions | async" [value]="tp">{{ tp }}</mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <label for="">Session Start</label>
    <input matInput formControlName="session_date_control" [matDatepicker]="datePicker" [min]="sessionMinDate" [max]="sessionMaxDate" [matDatepickerFilter]="sessionDateFilter">
    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker #datePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <label for="">Session UUID</label>
    <input matInput type="text" name="session_uuid" formControlName="session_uuid_control" [matAutocomplete]="auto2" (blur)="updateSessionFilter($event)">
    <mat-autocomplete #auto2="matAutocomplete">
      <mat-option *ngFor="let sessionUuid of filteredSessionUuidOptions | async" [value]="sessionUuid">{{ sessionUuid }}</mat-option>
    </mat-autocomplete>
  </mat-form-field>  
</form>
<div *ngFor="let session of sessions">
  <div class="col">
    <a routerLink="/session/{{session['session_uuid']}}">
      <mat-card (click)="sessionSelected(session)">
        <h6>Session UUID</h6>
        <mat-card-subtitle>{{ session['session_uuid'] }}</mat-card-subtitle>
        <h6>Session Date</h6>
        <mat-card-subtitle>{{ session['session_start_time'] | date}}</mat-card-subtitle>
        <h6>Mouse Nickname</h6>
        <mat-card-subtitle>{{ session['subject_nickname'] }}</mat-card-subtitle>
        <h6>Lab Name</h6>
        <mat-card-subtitle>{{ session['lab_name'] }}</mat-card-subtitle>
        <h6>Task Protocol</h6>
        <mat-card-subtitle>{{ session['task_protocol'] }}</mat-card-subtitle>
        <h6>Mouse DOB</h6>
        <mat-card-subtitle>{{ session['subject_birth_date'] }}</mat-card-subtitle>
      </mat-card>
    </a>
  </div>
</div>