#SPCpngExport {
    width: 100%;
    border: 1px solid rgb(240, 240, 240);
}

#SPCpngExport:hover {
    border: 2px solid rgb(240, 240, 240);
    /* background-color: rgba(248, 175, 242, 0.075); */
    background: linear-gradient(to right, rgba(248, 175, 242, 0.075), rgba(175, 231, 248, 0.075));
}